Data Science Tools and Ecosystem
================================

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* To understand different data analyst tools
* To understand various benefits tools
* Brief introduction to tools

Some of the popular languages that Data Scientists use are:
1.R
2.Java
3.Python
4.SQL

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.NumPy
3.Scikit
4.TensorFlow

|Data Science Tools|
|-----------------|
|Anacondas|
|Jupyter Notebook|
|VS code|
|JupyterLite|

Below are a few examples of evaluating arithmetic expressions in Python
-----------------------------------------------------------------------

In [2]:
# This a simple arithmetic expression to mutiply then add integers#
print((3*4)+5)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60 #
print(200/60)

3.3333333333333335

Author
-----
DAVID